home {
  @include flexbox();
  @include flex-direction(column);

  background: $brand-primary url('/pattern.png') repeat center center;
  background-size: 500px 250px;
  text-align: center;

  .home {
    @include flex-grow(1);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
  }

  .hero {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: -100px;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    h1 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      color: $brand-secondary;
    }
  }

  .sub {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    position: relative;
    top: 100px;

    h2,
    p {
      max-width: 570px;
      margin: 30px 0;
      padding: 0 20px;
      font-size: 15px;
      font-weight: 400;
    }

    h2 {
      margin-bottom: 0;
    }

    button {
      display: inline-block;
      width: 180px;

      &:first-child {
        margin-right: 15px;
      }

      &:last-child {
        color: $brand-secondary;
        background-color: #fff;

        &:hover {
          background-color: darken(#fff, 1%);
        }
      }
    }
  }

  .footer {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $brand-primary-light;
    color: $brand-secondary;
    z-index: 1;

    img {
      vertical-align: middle;
    }
  }
}

@media (max-width: 400px) {
  home {
    .hero {
      img {
        width: 80px;
        height: 80px;
      }

      h1 {
        font-size: 45px;
      }
    }

    .sub {
      h2,
      p {
        margin-top: 15px;
        font-size: 14px;
      }

      p {
        margin-bottom: 15px;
      }

      button {
        width: 130px;
      }
    }
  }
}
