.home-container {
  background: $brand-primary url('/pattern.png') repeat center center;
  background-size: 500px 250px;
  text-align: center;

  .home {
    @include flex-grow(1);
    @include flexbox();
    @include flex-direction(column);
    @include justify-content(center);
    @include overflow-y-scroll();

    padding-top: 20px;
  }

  .hero {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: -100px;

    img {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    h1 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 60px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      color: $brand-secondary;
    }
  }

  .sub {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);

    position: relative;
    top: 100px;

    h2,
    p,
    ul {
      max-width: 570px;
      margin: 20px 0 0;
      padding: 0 20px;
      font-size: 15px;
      font-weight: 400;
    }

    ul {
      display: inline-block;
      text-align: left;

      h2 {
        margin-top: 0;
        padding: 0;
      }
    }

    .btn {
      display: inline-block;
      width: 180px;
      margin: 20px 8px 0;
    }

    .social {
      margin: 20px 0;

      a {
        font-size: 14px;
        margin: 0 5px;
      }
    }
  }

  .footer {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $brand-primary-light;
    color: $brand-secondary;
    z-index: 1;

    i {
      margin: 5px 3px;
      vertical-align: middle;
    }
  }
}

@media (max-width: 400px) {
  .home-container {
    .hero {
      img {
        width: 80px;
        height: 80px;
      }

      h1 {
        font-size: 45px;
      }
    }

    .sub {
      h2,
      p {
        font-size: 14px;
      }

      .btn {
        width: 150px;
      }
    }
  }
}
