html {
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  @include border-box();
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

app {
  @include flexbox();
  @include flex-direction(column);

  height: 100vh;

  tracker,
  home,
  register,
  login {
    @include flex-grow(1);
  }
}

a.link {
  @include transition(all .1s ease-out);

  color: $brand-secondary-light;
  font-weight: 500;

  &:hover,
  &:focus {
    color: $brand-secondary-dark;
  }
}

.loading-gif {
  width: 25px;
  height: 25px;
  margin: 40vh auto 0;
}

.loading-gif-bg {
  background: url('/loader.gif') no-repeat center;
  background-size: 25px 25px;
  height: 25px;
  margin-top: 40vh;
}

nav {
  @include flexbox();
  @include justify-content(space-between);

  min-height: 49px;
  background-color: $brand-primary;
  font-family: $font-secondary;

  a {
    @include transition(all .1s ease-out);

    padding: 17px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    color: $brand-secondary;

    &:hover,
    &:focus {
      background-color: lighten($brand-primary, 10%);
      cursor: pointer;
    }
  }
}

button {
  @include transition(all .1s ease-out);

  display: block;
  width: 100%;
  height: 43px;
  border: 0;
  background-color: $brand-secondary-light;
  font-family: $font-secondary;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;

  .fa {
    @include transition(all .1s ease-out);

    font-size: 10px;
    margin-left: 3px;
  }

  &:hover,
  &:focus {
    background-color: $brand-secondary;
    cursor: pointer;

    .fa-long-arrow-right {
      margin-left: 7px;
    }
  }
}

form {
  @include animation(slide .5s ease-out forwards);

  position: relative;
  top: 60px;
  margin: 120px auto;
  width: 280px;

  .form-alert {
    min-height: 43px;
    padding: 11px;
    margin-bottom: 35px;
    border: 2px solid $error;
    text-align: center;
    font-size: 14px;
    color: $error;
  }

  .form-group {
    position: relative;
    margin-bottom: 25px;

    label {
      display: block;
      margin-bottom: 7px;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    input {
      width: 100%;
      -webkit-appearance: none;
      border: 2px solid $brand-secondary-light;
      border-radius: 0;
      height: 43px;
      padding: 10px 32px 10px 10px;
      font-family: $font-primary;
      font-size: 15px;

      &[type="password"] {
        font-family: $font-secondary;
      }

      &:focus {
        border-color: $brand-secondary-dark;
      }
    }

    .fa-asterisk {
      position: absolute;
      top: 38px;
      right: 15px;
      font-size: 10px;
      color: $brand-primary;
    }
  }

  p {
    margin: 20px 0 0;
    text-align: center;
    font-size: 14px;
  }

  button {
    margin-top: 40px;
  }
}

.not-found {
  text-align: center;

  img {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: -100px;
    margin-top: 50px;
    height: 35vh;
  }

  .not-found-caption {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: 100px;
  }

  h1 {
    margin: 15px 0 0;
    font-family: $font-secondary;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: $brand-secondary;
  }

  p {
    max-width: 600px;
    margin: 25px auto 0;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 700px) {
  form {
    margin: 0 auto;
    padding: 70px 0;
  }

  .not-found h1 {
    font-size: 35px;
  }
}
