html {
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  @include border-box();
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

#root {
  @include flexbox();
  @include flex-direction(column);

  height: 100vh;

  .tracker-container,
  .home-container,
  .register-container,
  .login-container,
  .account-container {
    @include flex(1 1 auto);
    @include flexbox();
    @include flex-direction(column);

    min-height: 0;
  }
}

a.link {
  @include transition(all .1s ease-out);

  color: $brand-secondary-light;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brand-secondary-dark;
  }
}

.hidden {
  visibility: hidden;
}

nav {
  @include flexbox();
  @include flex(0 0 42px);

  position: relative;
  background-color: $brand-primary;
  font-family: $font-secondary;

  a {
    @include transition(all .1s ease-out);

    padding: 14px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    color: $brand-secondary;

    &:first-child {
      margin-right: auto;
    }
  }
}

.no-touch nav a {
  &:hover,
  &:focus {
    background-color: lighten($brand-primary, 10%);
    cursor: pointer;
  }
}

.btn {
  @include transition(all .1s ease-out);

  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  border: 0;
  font-family: $font-secondary;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  &.btn-blue {
    background-color: $brand-secondary-light;
    color: #fff;
  }

  &.btn-yellow {
    background-color: $brand-primary;
    color: $brand-secondary;
  }

  &.btn-white {
    color: $brand-secondary;
    background-color: #fff;
  }

  .fa {
    @include transition(all .1s ease-out);

    font-size: 10px;
    margin-left: 3px;
  }

  .spinner {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .fa {
      margin: 0;
    }
  }
}

.no-touch .btn {
  &:hover,
  &:focus {
    cursor: pointer;

    .fa-long-arrow-right {
      margin-left: 7px;
    }

    &.btn-blue {
      background-color: $brand-secondary;
    }

    &.btn-yellow {
      background-color: $brand-primary-dark;
    }

    &.btn-white {
      background-color: darken(#fff, 1%);
    }
  }
}

.alert {
  padding: 11px;
  margin-bottom: 20px;
  border: 2px solid $brand-secondary;
  text-align: center;
  font-size: 14px;

  &.alert-error {
    border: 2px solid $error;
    color: $error;
  }

  &.alert-success {
    border: 2px solid $success;
    color: $success;
  }
}

input,
select {
  width: 100%;
  -webkit-appearance: none;
  border: 2px solid $brand-secondary-light;
  border-radius: 0;
  background-color: white;
  padding: 6px;
  font-family: $font-primary;

  &:focus {
    border-color: $brand-secondary-dark;
  }

  &:invalid {
    box-shadow: none;
  }
}

.login-container {
  padding-bottom: 150px;
}

.form {
  @include flex-grow(1);
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  h1 {
    color: $brand-secondary;
  }
}

form {
  @include animation(slide .5s ease-out forwards);

  position: relative;
  top: 60px;
  width: 280px;

  .form-group {
    position: relative;
    margin-bottom: 25px;

    label {
      display: block;
      margin-bottom: 7px;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    input,
    select {
      height: 43px;
      padding: 10px 32px 10px 10px;
      font-size: 15px;

      &[type="password"] {
        font-family: $font-secondary;
      }
    }

    .fa {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 10px;
      color: $brand-primary;
    }

    .fa-chevron-down {
      bottom: 17px;
      font-size: 9px;
      color: $brand-secondary;
    }
  }

  p {
    margin: 20px 0 0;
    text-align: center;
    font-size: 14px;
  }

  .btn:not(.btn-inline) {
    margin-top: 40px;
  }
}

.loading {
  margin-top: 47vh;
  text-align: center;
  font-family: $font-secondary;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand-secondary;
}

.not-found {
  text-align: center;

  img {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: -100px;
    margin-top: 50px;
    height: 35vh;
  }

  .not-found-caption {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: 100px;
  }

  h1 {
    margin: 15px 0 0;
    font-family: $font-secondary;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: $brand-secondary;
  }

  p {
    max-width: 600px;
    margin: 25px auto 0;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
  }
}

reload div {
  text-align: center;
  padding: 10px 30px;
  background-color: lighten($brand-primary-light, 15%);
  font-size: 14px;

  .fa {
    font-size: 11px;
    padding-right: 2px;
  }
}

.reload {
  text-align: center;
  padding: 10px 30px;
  background-color: lighten($brand-primary-light, 15%);
  font-size: 14px;

  .fa {
    font-size: 11px;
    padding-right: 2px;
  }
}

@media (max-width: 700px) {
  .not-found h1 {
    font-size: 35px;
  }
}
