html {
  -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
  @include border-box();
}

*:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

#root {
  @include flexbox();
  @include flex-direction(column);

  height: 100vh;

  .tracker-container,
  .home-container,
  .register-container,
  .login-container,
  .account-container,
  .profile-container {
    @include flex(1 1 auto);
    @include flexbox();
    @include flex-direction(column);

    min-height: 0;
  }
}

a.link {
  @include transition(all .1s ease-out);

  color: $brand-secondary-light;
  font-weight: 500;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $brand-secondary-dark;
  }
}

.hidden {
  visibility: hidden;
}

nav {
  @include flexbox();
  @include flex(0 0 42px);

  position: relative;
  background-color: $brand-primary;
  font-family: $font-secondary;

  a {
    @include transition(all .1s ease-out);

    padding: 14px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    color: $brand-secondary;

    &:first-child {
      margin-right: auto;
    }

    .fa {
      margin-left: 3px;
    }
  }

  .dropdown {
    @include flexbox();

    &:hover {
      > a {
        background-color: lighten($brand-primary, 10%);
      }

      ul {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
    }

    ul {
      @include transition(all .1s ease-out);

      opacity: 0;
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 70%;
    	margin: 0;
    	padding: 0;
      list-style: none;
      text-align: right;
      z-index: 10;
      width: 230px;

      li  a {
        display: block;
        border-top: 2px solid $brand-primary;
        background-color: lighten($brand-primary, 10%);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          background-color: lighten($brand-primary, 15%);
        }

        .fa {
          float: left;
          margin-top: 2px;
          margin-left: 0;
          padding-right: 15px;
        }
      }
    }
  }
}

.no-touch nav a {
  &:hover,
  &:focus {
    background-color: lighten($brand-primary, 10%);
    cursor: pointer;
  }
}

.btn {
  @include transition(all .1s ease-out);

  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  border: 0;
  font-family: $font-secondary;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;

  &.btn-blue {
    background-color: $brand-secondary-light;
    color: #fff;
  }

  &.btn-yellow {
    background-color: $brand-primary;
    color: $brand-secondary;
  }

  &.btn-white {
    color: $brand-secondary;
    background-color: #fff;
  }

  .fa {
    @include transition(all .1s ease-out);

    font-size: 10px;
    margin-left: 3px;
  }

  .spinner {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .fa {
      margin: 0;
    }
  }
}

.no-touch .btn {
  &:hover,
  &:focus {
    cursor: pointer;

    .fa-long-arrow-right {
      margin-left: 7px;
    }

    &.btn-blue {
      background-color: $brand-secondary;
    }

    &.btn-yellow {
      background-color: $brand-primary-dark;
    }

    &.btn-white {
      background-color: darken(#fff, 1%);
    }
  }
}

.alert {
  padding: 11px;
  margin-bottom: 20px;
  border: 2px solid $brand-secondary;
  text-align: center;
  font-size: 14px;

  &.alert-error {
    border: 2px solid $error;
    color: $error;
  }

  &.alert-success {
    border: 2px solid $success;
    color: $success;
  }

  &.form-confirm {
    margin-top: 40px;
  }
}

.form {
  @include flex-grow(1);
  @include flexbox();
  @include flex-direction(column);
  @include overflow-y-scroll;
  @include align-items(center);

  padding: 50px 0 100px;

  h1 {
    color: $brand-secondary;
    margin-bottom: 17px;
  }

  .form-column {
    width: 280px;
    margin: 0 auto;
  }

  .form-row {
    @include flexbox();

    .form-column {
      margin: 0 15px;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}

form {
  @include animation(slide .5s ease-out forwards);

  position: relative;
  top: 60px;

  h2 {
    text-align: center;
    margin: 30px 0 15px;

    &:first-child {
      margin-top: 0;
    }

    .tooltip {
      margin-left: 7px;
      bottom: 3px;
    }
  }

  p {
    margin: 20px 0 0;
    text-align: center;
    font-size: 14px;
  }

  .btn:not(.btn-inline) {
    margin-top: 40px;

    &.form-confirm {
      margin-top: 0;
    }
  }
}

.form-control,
select {
  width: 100%;
  -webkit-appearance: none;
  border: 2px solid $brand-secondary-light;
  border-radius: 0;
  background-color: white;
  padding: 6px;
  font-family: $font-primary;

  &:focus {
    border-color: $brand-secondary-dark;
  }

  &:invalid {
    box-shadow: none;
  }
}

.form-group {
  position: relative;
  margin-bottom: 25px;

  label {
    display: block;
    margin-bottom: 7px;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .form-control,
  select {
    height: 43px;
    padding: 0 32px 0 10px;
    font-size: 15px;

    &[type="password"] {
      font-family: $font-secondary;
    }
  }

  .radio {
    display: inline-block;
    margin: 0 13px;

    label {
      font-family: $font-primary;
      text-transform: none;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0;
      margin-bottom: 0;
      cursor: pointer;
    }

    input[type=radio] {
      display: none;

      &:checked+.radio-custom span {
        opacity: 1;
      }
    }

    .radio-custom {
      display: inline-block;
      position: relative;
      top: 3px;
      right: 7px;
      width: 16px;
      height: 16px;
      border: 1px solid $gray-medium;
      background-color: lighten($gray-light, 25%);
      border-radius: 50%;

      > span {
        @include transition(all .15s ease-out);
        display: inline-block;
        opacity: 0;
        position: absolute;
        background-color: $brand-primary;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -5px;
      }
    }
  }

  .fa {
    &:last-child {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-size: 10px;
      color: $brand-primary;
    }

    &.fa-chevron-down {
      bottom: 17px;
      font-size: 9px;
      color: $brand-secondary;
    }
  }

  .form-note {
    float: right;
    position: relative;
    bottom: 2px;
    text-align: right;
    font-size: 13px;
    color: $gray-dark;
    width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.form-warning {
  @include flexbox();
  @include align-items(center);

  position: absolute;
  height: 100%;
  bottom: 0;
  left: -23px;
  padding-top: 21px;

  .tooltip {
    margin-left: 0;

    .fa {
      color: $error;
    }

    .tooltip-text {
      background-color: darken($error, 5%);

      &::after {
        border-color: darken($error, 5%) transparent transparent transparent;
      }
    }
  }
}

.tooltip {
  display: inline-block;
  position: relative;
  margin-left: 3px;

  .fa {
    font-size: 11px;
    color: $brand-secondary;
  }

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: 27px;
    left: 50%;
    margin-left: -($tooltip-width / 2);
    z-index: 1;
    width: $tooltip-width;
    padding: 5px;
    border-radius: 5px;
    background-color: $brand-secondary;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 13px;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $brand-secondary transparent transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

.loading {
  margin-top: 47vh;
  text-align: center;
  font-family: $font-secondary;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $brand-secondary;
}

.not-found {
  text-align: center;

  img {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: -100px;
    margin-top: 50px;
    height: 35vh;
  }

  .not-found-caption {
    @include animation(slide 1s cubic-bezier(0,0,.05,1) forwards);

    position: relative;
    top: 100px;
  }

  h1 {
    margin: 15px 0 0;
    font-family: $font-secondary;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: $brand-secondary;
  }

  p {
    max-width: 600px;
    margin: 25px auto 0;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
  }
}

reload div {
  text-align: center;
  padding: 10px 30px;
  background-color: lighten($brand-primary-light, 15%);
  font-size: 14px;

  .fa {
    font-size: 11px;
    padding-right: 2px;
  }
}

.reload {
  text-align: center;
  padding: 10px 30px;
  background-color: lighten($brand-primary-light, 15%);
  font-size: 14px;

  .fa {
    font-size: 11px;
    padding-right: 2px;
  }
}

.wrapper {
  width: 6 * $pokemon-box-size + 2;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.modal {
  @include overflow-y-scroll();

  position: relative;
  margin: 100px auto;
  width: 500px;
  border: 2px solid $brand-secondary-light;
  background: #fff;
  outline: none;

  p {
    margin-top: 0;
    text-align: center;
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .wrapper {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .not-found h1 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .form .form-row {
    display: block;

    .form-group:last-child {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 550px) {
  .modal {
    margin-top: 0;
    width: 100%;
  }

  .form-warning .tooltip .tooltip-text {
    margin-left: -20px;

    &::after {
      left: 20px;
    }
  }
}
