@mixin border-box {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin disable-selection {
  -webkit-user-select: none;
  -khtml-user-select:  none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin overflow-y-scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

@mixin transition($string) {
  transition: $string;
  -o-transition: $string;
  -webkit-transition: $string;
  -moz-transition: $string;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($string) {
  -webkit-align-items: $string;
  -moz-align-items: $string;
  align-items: $string;
}

@mixin align-self($string) {
  -webkit-align-self: $string;
  align-self: $string;
}

@mixin justify-content($string) {
  -webkit-justify-content: $string;
  -moz-justify-content: $string;
  -ms-justify-content: $string;
  justify-content: $string;
}

@mixin flex-direction($string) {
  -webkit-flex-direction: $string;
  flex-direction: $string;
}

@mixin flex-wrap($string) {
  -webkit-flex-wrap: $string;
  flex-wrap: $string;
}

@mixin flex-grow($string) {
  -webkit-flex-grow: $string;
  flex-grow: $string;
}

@mixin align-self($string) {
  -webkit-align-self: $string;
  align-self: $string;
}
