@mixin border-box {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin disable-selection {
  -webkit-user-select: none;
  -khtml-user-select:  none;
  -moz-user-select:    none;
  -ms-user-select:     none;
  user-select:         none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin transition ($property, $time: 500ms) {
  -webkit-transition: $property $time ease;
  -moz-transition:    $property $time ease;
  -o-transition:      $property $time ease;
  transition:         $property $time ease;
}