.profile {
  @include animation(slide .5s ease-out forwards);
  @include flex(1 0 auto);
  @include overflow-y-scroll;

  padding: 100px 0 60px;
  position: relative;
  top: 70px;
}

.dex-preview {
  margin-top: 40px;

  .percentage {
    margin-top: 0;
  }
}

.dex-preview-header {
  @include flexbox();
  @include align-items(baseline);

  position: relative;
  margin-bottom: 8px;

  h3 {
    margin: 0;
    min-width: 0;

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 10px;
      font-size: 20px;
    }
  }

  .dex-edit a.link {
    color: lighten(#000, 25%);
    font-size: 14px;

    &:hover {
      color: black;
    }
  }
}

.dex-indicator {
  @include flex-shrink(0);

  margin-left: auto;
  padding-left: 30px;

  .fa-star {
    color: #d81118;
    font-size: 8px;
  }

  .label {
    margin-left: 7px;
    border-radius: 3px;
    font-size: 10px;
    padding: 4px 6px;
    background-color: $gray-light;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-weight: 500;
  }
}

.dex-create {
  margin: 40px 0;
  text-align: center;

  .btn {
    display: inline-block;
    padding: 12px;
    width: 200px;
  }
}

.dex-delete-container {
  text-align: right;
  position: absolute;
  top: 10px;
  right: 12px;
  z-index: 1;

  a:first-child {
    color: $error;
    margin: 0 3px;
    font-size: 14px;

    &:hover {
      color: darken($error, 5%);
    }
  }
}

.percentage {
  @include flexbox();
  @include justify-content(space-between);

  margin-top: 20px;
}

.progress-container {
  width: 100%;
  height: 28px;

  h3 {
    display: none;
    margin: 10px 0;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.progress-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid $brand-primary;

  .progress-numbers {
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .progress-inner {
    height: 100%;
    background-color: $brand-primary;
  }
}

@media (max-width: 750px) {
  .profile {
    padding: 40px 15px 20px;
  }

  .dex-preview {
    margin-bottom: 60px;
  }

  .progress-container h3 {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .percentage .progress-container {
    h3 {
      display: block;
    }

    .progress-numbers .mobile {
      display: none;
    }
  }

  .dex-indicator {
    display: none;
  }

  .dex-create .btn {
    width: 100%;
  }
}
