.profile {
  @include animation(slide .5s ease-out forwards);
  @include flex-grow(1);
  @include overflow-y-scroll;

  padding: 100px 0;
  position: relative;
  top: 70px;
}

.dex-preview {
  margin-top: 40px;
}

.dex-preview-header {
  @include flexbox();
  @include align-items(baseline);

  h3 {
    margin: 0 0 8px;
    min-width: 0;

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 15px;
      font-size: 20px;
    }
  }

  > a {
    margin-left: auto;
  }
}

.dex-create {
  margin: 40px 0;
  text-align: center;

  .btn {
    display: inline-block;
    padding: 12px;
    width: 200px;
  }
}

.percentage {
  @include flexbox();
  @include justify-content(space-between);
}

.progress-container {
  width: 100%;
  height: 28px;

  h3 {
    display: none;
    margin: 10px 0;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.progress-outer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid $brand-primary;

  .progress-numbers {
    position: absolute;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .progress-inner {
    height: 100%;
    background-color: $brand-primary;
  }
}

@media (max-width: 750px) {
  .profile {
    padding: 40px 15px;
  }

  .dex-preview {
    margin-bottom: 60px;

    .percentage {
      margin-top: 0;
    }
  }

  .progress-container h3 {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .percentage .progress-container {
    h3 {
      display: block;
    }

    .progress-numbers .mobile {
      display: none;
    }
  }

  .dex-create .btn {
    width: 100%;
  }
}
