.tracker {
  @include flexbox();
  @include flex(1 1 auto);

  position: relative;
  min-height: 0;

  .fa-venus,
  .fa-mars {
    position: relative;
    left: 3px;
    bottom: 1px;
    font-size: .7em;
  }
}

info {
  @include flexbox();

  position: relative;
  background-color: $brand-secondary;

  &.collapsed .info-main {
    display: none;
  }

  .info-collapse {
    @include flexbox();
    @include align-items(center);

    position: absolute;
    height: 100%;
    padding: 8px;
    left: -20px;
    background-color: darken($brand-secondary-dark, 3%);
    color: white;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      padding-right: 10px;
      left: -22px;
    }
  }

  .info-main {
    @include flexbox();
    @include flex-direction(column);

    width: 350px;
    color: #fff;

    > * {
      @include flex-shrink(0);
    }
  }

  .info-header {
    @include flexbox();
    @include align-items(center);

    padding: 17px 17px 17px 8px;
    border-bottom: 2px solid $brand-secondary-dark;

    img {
      margin-right: 3px;
    }

    h1 {
      @include flex-grow(1);

      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }

    h2 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 17px;
      font-weight: 400;
    }
  }

  .info-locations {
    @include flex(1 1 auto);
    @include overflow-y-scroll;

    padding: 30px;
    border-bottom: 2px solid $brand-secondary-dark;

    h3 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ul {
      margin: 10px 0 20px;
      padding-left: 33px;
      font-size: 16px;
      line-height: 1.4;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-evolutions {
    @include flexbox();
    @include justify-content(center);

    padding: 20px;
    text-align: center;
    font-size: 13px;

    .evolution-pokemon-column,
    .evolution-trigger-column {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-around);
    }

    .evolution-pokemon-column a {
      padding: 0 5px;
    }

    .evolution-trigger-column {
      @include flex-grow(1);

      max-width: 90px;

      .evolution-trigger {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);

        margin: 8px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        > .fa {
          margin-bottom: 3px;
        }

        .tooltip {
          display: inline-block;
          position: relative;
          margin-left: 3px;

          .fa-plus-circle {
            font-size: 11px;
          }

          .tooltip-text {
            visibility: hidden;
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-left: -($tooltip-width / 2);
            z-index: 1;
            width: $tooltip-width;
            padding: 5px;
            border-radius: 5px;
            background-color: #fff;
            color: black;
            text-align: center;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              margin-left: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: #fff transparent transparent transparent;
            }
          }

          &:hover .tooltip-text {
            visibility: visible;
          }
        }
      }
    }
  }

  .info-footer {
    @include transition(all .1s ease-out);

    display: block;
    margin-top: auto;
    padding: 20px;
    background-color: $brand-secondary-dark;
    color: #fff;
    text-align: center;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    .fa {
      @include transition(all .1s ease-out);

      font-size: 10px;
      margin-left: 3px;
    }
  }
}

.no-touch .info-footer {
  &:hover,
  &:focus {
    background-color: darken($brand-secondary-dark, 3%);

    .fa-long-arrow-right {
      margin-left: 7px;
    }
  }
}

dex {
  @include flex-grow(1);
  @include overflow-y-scroll;

  padding: 100px 0;
}

header {
  margin: 0 auto;
  width: 6 * $pokemon-box-size + 2;

  h1 {
    display: inline-block;
    margin: 0;
    color: $brand-secondary;
    font-size: 40px;
  }

  .share-container {
    position: relative;
    display: inline-block;

    a {
      position: relative;
      bottom: 4px;
      font-size: 16px;
      color: lighten(#000, 25%);

      .fa {
        padding: 5px;
      }

      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    .share {
      position: absolute;
      bottom: 156%;
      left: 50%;
      width: 250px;
      padding: 10px;
      margin-left: -(250px / 2);
      z-index: 1;
      border: 2px solid $gray-light;
      background-color: lighten($gray-light, 10%);
      font-size: 14px;

      input {
        margin-top: 5px;
        font-size: 12px;
      }

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: $gray-light transparent transparent transparent;
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 17px;
    font-family: $font-secondary;
    font-weight: 400;

    span.fc-missing {
      color: $gray-light;
    }
  }

  .region-filter {
    @include flexbox();

    margin: 30px 0 20px;

    div {
      @include transition(all .1s ease-out);
      @include flex-grow(1);

      padding: 10px;
      text-align: center;
      background-color: $gray-light;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;

      &.active {
        background-color: $brand-secondary-light;
        color: #fff;
      }

      &:hover {
        cursor: pointer;

        &:not(.active) {
          background-color: darken($gray-light, 5%);
        }
      }
    }
  }

  .region-filter-mobile {
    display: none;
    position: relative;
    min-width: 100px;
    margin-left: 10px;

    .dropdown > div,
    .active {
      padding: 7px;
      text-align: left;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .active {
      @include flexbox();
      @include justify-content(space-between);

      background-color: $brand-secondary-light;
      color: #fff;
    }

    .dropdown {
      position: absolute;
      width: 100px;
      z-index: 1;

      div {
        border-bottom: 1px solid darken($gray-light, 5%);
        background-color: $gray-light;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .percentage {
    @include flexbox();
    @include justify-content(space-between);
  }

  .progress-container {
    width: 100%;
    height: 28px;

    h3 {
      display: none;
      margin: 10px 0;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .progress-outer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid $brand-primary;

    .progress-numbers {
      position: absolute;
      width: 100%;
      padding: 5px;
      text-align: center;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .progress-inner {
      height: 100%;
      background-color: $brand-primary;
    }
  }
}

box {
  display: block;
  margin: 60px auto 0;
  width: 6 * $pokemon-box-size + 2;

  .box-header {
    @include flexbox();

    margin-bottom: 10px;

    h1 {
      @include flex(1 0 auto);

      margin: 0;
      font-family: $font-secondary;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
    }

    button {
      position: relative;
      display: inline-block;
      height: auto;
      width: auto;
      padding: 8px 12px;
      font-size: 10px;

      .spinner {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        .fa {
          margin: 0;
        }
      }

      .hidden {
        visibility: hidden;
      }
    }
  }

  .box-container {
    @include flexbox();
    @include flex-wrap(wrap);

    border: 1px solid $gray-light;
  }

  pokemon {
    @include flexbox();

    position: relative;
    width: $pokemon-box-size;
    height: $pokemon-box-size;

    &.captured {
      background-color: $brand-primary-light;

      .set-captured,
      .set-captured-mobile {
        border-color: darken($brand-primary-light, 5%);
      }
    }

    &.disabled {
      opacity: .1;

      &:hover {
        cursor: default;
      }
    }
  }

  .set-captured {
    @include flex-grow(1);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    border: 1px solid $gray-light;

    h4 {
      margin: 0;
      font-size: 17px;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-family: $font-secondary;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .set-captured-mobile {
    @include flex-grow(1);
    @include align-items(center);

    display: none;
    border: 1px solid $gray-light;

    img {
      padding: 0 8px;
    }

    h4 {
      @include flex-grow(1);

      margin: 0;
      font-size: 20px;
      font-weight: 400;
    }

    p {
      margin: 0;
      padding-right: 10px;
      font-family: $font-secondary;
      font-size: 11px;
    }
  }

  .set-info {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;

    .fa-info {
      padding: 4px 7px;
      border-radius: 50%;
      border: 2px solid $brand-secondary-light;
      color: $brand-secondary-light;
      font-size: 10px;
    }
  }
}

.no-touch box pokemon:not(.empty):not(.disabled):hover {
  .set-info {
    opacity: 1;

    &:hover {
      cursor: pointer;
      right: -1px;
      bottom: -1px;

      .fa-info {
        padding: 5px 8px;
        border-color: darken($brand-secondary-dark, 5%);
        color: darken($brand-secondary-dark, 5%);
      }
    }
  }

  &:not(.viewing) {
    cursor: pointer;

    .set-captured,
    .set-capture-mobile:hover {
      border-color: darken($brand-primary-light, 5%);
    }
  }
}

@media (max-width: 1100px) {
  info {
    position: absolute;
    left: auto;
    right: 0;
    height: 100%;
  }
}

@media (max-width: 750px) {
  dex {
    padding: 15px 35px 15px 15px;
  }

  header,
  box {
    width: 100%;
  }

  header {
    h1 {
      font-size: 30px;
    }

    .share-container {
      display: none
    }

    .region-filter {
      display: none;
    }

    .region-filter-mobile {
      display: block;
    }

    .percentage  {
      margin-top: 15px;
    }

    .progress-container h3 {
      font-size: 11px;
    }
  }

  box {
    margin-top: 50px;

    .box-container {
      @include flex-direction(column);
    }

    pokemon {
      width: 100%;
      height: 80px;

      &.captured .set-info {
        border-color: darken($brand-primary-light, 5%);
      }

      .set-captured {
        display: none;
      }

      .set-captured-mobile {
        @include flexbox();
      }

      .set-info {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        opacity: 1;
        border: 1px solid $gray-light;
        position: relative;
        width: 50px;

        &:hover {
          right: 0 !important;
          bottom: 0 !important;
        }
      }

      &.empty {
        display: none;
      }
    }
  }
}

@media (max-width: 500px) {
  header .percentage .progress-container {
    h3 {
      display: block;
    }

    .progress-numbers .mobile {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  info {
    width: 100%;

    .info-collapse {
      position: relative;
      left: 0;

      &:hover {
        left: 0;
        padding-right: 8px;
      }
    }

    .info-main {
      width: 100%;
    }

    &.collapsed {
      width: inherit;
    }
  }
}
