.tracker {
  @include flexbox();
  @include flex(1 1 auto);

  position: relative;
  min-height: 0;

  .fa-venus,
  .fa-mars {
    position: relative;
    left: 3px;
    bottom: 1px;
    font-size: .7em;
  }

  .dex-wrapper {
    @include flexbox();
    @include flex-direction(column);
    @include flex-grow(1);

    .dex-column {
      @include flexbox();
      @include flex-direction(column);
      @include flex-grow(1);
      @include overflow-y-scroll;
    }
  }
}

.info {
  @include flexbox();

  position: relative;
  z-index: 2;

  &.collapsed .info-main {
    display: none;
  }

  .info-collapse {
    @include flexbox();
    @include align-items(center);

    padding: 8px;
    background-color: darken($brand-secondary-dark, 3%);
    color: white;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      padding-right: 10px;
      margin-left: -2px;
    }
  }

  .info-main {
    @include flexbox();
    @include flex-direction(column);

    width: 350px;
    background-color: $brand-secondary;
    color: #fff;

    > * {
      @include flex-shrink(0);
    }
  }

  .info-header {
    @include flexbox();
    @include align-items(center);

    padding: 17px 17px 17px 8px;
    background-color: $brand-secondary;
    border-bottom: 2px solid darken($brand-secondary-dark, 3%);

    .pkicon {
      margin-right: 3px;

      &.pkicon-809 {
        margin-right: 8px;
      }
    }

    h1 {
      @include flex-grow(1);

      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }

    h2 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 17px;
      font-weight: 400;
    }
  }

  .info-locations {
    @include flex(1 1 auto);
    @include overflow-y-scroll;

    padding: 30px;
    background-color: $brand-secondary;
    border-bottom: 2px solid darken($brand-secondary-dark, 3%);

    h3 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ul {
      margin: 10px 0 20px;
      padding-left: 33px;
      font-size: 16px;
      line-height: 1.4;
    }
  }

  .info-evolutions {
    @include flexbox();
    @include justify-content(center);

    padding: 20px;
    background-color: $brand-secondary;
    text-align: center;
    font-size: 13px;

    .evolution-pokemon-column,
    .evolution-trigger-column {
      @include flexbox();
      @include flex-direction(column);
      @include justify-content(space-around);
    }

    .evolution-pokemon-column {
      .pkicon-809 {
        margin-left: 3px;
      }

      a {
        cursor: pointer;
        padding: 0 5px;
      }
    }

    .evolution-trigger-column {
      @include flex-grow(1);

      max-width: 90px;

      .evolution-trigger {
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);

        margin: 8px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        > .fa {
          margin-bottom: 3px;
        }

        .tooltip {
          .fa-plus-circle {
            color: white;
          }

          .tooltip-text {
            color: black;
            background-color: white;

            &::after {
              border-color: #fff transparent transparent transparent;
            }
          }
        }
      }
    }
  }

  .info-footer {
    @include flexbox();

    margin-top: auto;
    border-top: 2px solid darken($brand-secondary-dark, 3%);

    a {
      @include transition(all .1s ease-out);

      width: 50%;
      padding: 20px;
      background-color: $brand-secondary-dark;
      color: #fff;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      text-align: center;

      &:first-child {
        border-right: 1px solid darken($brand-secondary-dark, 3%);
      }

      &:last-child {
        border-left: 1px solid darken($brand-secondary-dark, 3%);
      }

      .fa {
        @include transition(all .1s ease-out);

        font-size: 10px;
        margin-left: 3px;
      }
    }
  }
}

.no-touch .info-footer a {
  &:hover,
  &:focus {
    background-color: darken($brand-secondary-dark, 3%);

    .fa-long-arrow-right {
      margin-left: 7px;
    }
  }
}

.dex-search-bar {
  background-color: white;
  border-bottom: 1px solid $gray-light;
  padding: 10px;

  .form-group {
    margin-bottom: 0;

    input {
      padding-left: 32px;
    }

    .fa-search {
      position: absolute;
      bottom: 15px;
      left: 14px;
      font-size: 13px;
      color: $brand-secondary;
    }

    .fa-times {
      color: $gray-medium;
      height: 100%;
      width: 30px;
      right: 0;
      bottom: 0;
      padding-top: 16px;
      text-align: center;

      &:hover {
        cursor: pointer;
        color: $gray-dark;
      }
    }
  }
}

.dex {
  @include flex(1 0 auto);

  padding: 100px 0;

  .scroll-up {
    @include transition(all .5s ease-out);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    opacity: 0;
    position: fixed;
    left: 10px;
    bottom: -100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    background-color: $brand-secondary;
    color: #fff;
    font-size: 11px;
    z-index: 1;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $brand-secondary-dark;
    }

    &.visible {
      bottom: 10px;
      opacity: 1;
    }
  }
}

header {
  .header-row {
    @include flexbox();
    @include align-items(center);

    .donated-flair {
      margin-left: auto;
      height: 18px;
    }
  }

  h1 {
    position: relative;
    display: inline-block;
    margin: 0;
    color: $brand-secondary;
    font-size: 40px;
  }

  h3 {
    margin: 0 0 8px;

    a {
      color: lighten(#000, 35%);

      &:hover {
        color: lighten(#000, 25%);
      }
    }

    .donated-flair {
      margin-left: 4px;
      height: 15px;
      vertical-align: middle;
    }
  }

  a {
    font-size: 16px;
    color: lighten(#000, 25%);

    .fa {
      position: relative;
      padding: 5px 0 5px 5px;
      bottom: 4px;
    }

    .fa-pencil {
      font-size: 14px;
      padding: 3px;
      margin-left: 2px;
      bottom: 1px;
    }

    &:hover {
      color: black;
      cursor: pointer;
    }
  }

  .share-container {
    position: relative;
    display: inline-block;

    a {
      position: relative;
    }

    .share {
      $share-width: 300px;

      position: absolute;
      bottom: 200%;
      left: 50%;
      width: $share-width;
      padding: 10px;
      margin-left: -($share-width / 2);
      z-index: 1;
      border: 2px solid $gray-light;
      background-color: lighten($gray-light, 10%);
      font-size: 14px;

      input {
        margin-top: 5px;
        font-size: 12px;
      }

      &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: $gray-light transparent transparent transparent;
      }
    }
  }

  h2 {
    margin: 0;
    font-size: 15px;
    font-family: $font-secondary;
    font-weight: 400;

    span.fc-missing {
      color: $gray-medium;
    }

    b {
      font-weight: 500;
    }
  }
}

.box {
  display: block;
  margin-top: 60px;

  .box-header {
    @include flexbox();

    margin-bottom: 10px;

    h1 {
      @include flex(1 0 auto);

      margin: 0;
      font-family: $font-secondary;
      font-size: 25px;
      font-weight: 700;
    }

    .btn {
      display: inline-block;
      height: auto;
      width: auto;
      padding: 8px 12px;
      font-size: 10px;
    }
  }

  .box-container {
    @include flexbox();
    @include flex-wrap(wrap);

    border: 1px solid $gray-light;
  }
}

.pokemon {
  @include flexbox();

  position: relative;
  width: $pokemon-box-size;
  height: $pokemon-box-size;

  &.captured {
    background-color: $brand-primary-light;

    .set-captured,
    .set-captured-mobile {
      border-color: darken($brand-primary-light, 5%);
    }
  }

  &.disabled {
    opacity: .1;

    &:hover {
      cursor: default;
    }
  }

  &:not(.empty):not(.disabled):hover {
    .set-info {
      opacity: 1;

      &:hover {
        cursor: pointer;
        right: -1px;
        bottom: -1px;

        .fa-info {
          padding: 5px 8px;
          border-color: darken($brand-secondary-dark, 5%);
          color: darken($brand-secondary-dark, 5%);
        }
      }
    }

    &:not(.viewing) {
      cursor: pointer;

      .set-captured,
      .set-capture-mobile:hover {
        border-color: darken($brand-primary-light, 5%);
      }
    }
  }
}

.set-captured {
  @include flex-grow(1);
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);

  border: 1px solid $gray-light;

  h4 {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
  }

  .icon-wrapper {
    @include flexbox();
    @include align-items(center);

    height: 49px;
  }

  p {
    margin: 0;
    font-family: $font-secondary;
    font-size: 12px;
    font-weight: 400;
  }
}

.set-captured-mobile {
  @include flex-grow(1);
  @include align-items(center);

  display: none;
  border: 1px solid $gray-light;

  .icon-wrapper {
    min-width: 52px;
    text-align: center;
    padding: 0 6px;
  }

  h4 {
    @include flex-grow(1);

    margin: 0;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    margin: 0;
    padding-right: 10px;
    font-family: $font-secondary;
    font-size: 11px;
  }
}

.set-info {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;

  .fa-info {
    padding: 4px 7px;
    border-radius: 50%;
    border: 2px solid $brand-secondary-light;
    color: $brand-secondary-light;
    font-size: 10px;
  }
}

.search-results {
  @include flexbox();
  @include flex-wrap(wrap);

  margin-top: 60px;

  &-empty {
    @include justify-content(center);
  }
}

@media (min-width: 751px) {
  .search-results .pokemon {
    margin-left: -2px;
    margin-top: -2px;
    height: $pokemon-box-size + 2;
    width: $pokemon-box-size + 2;

    &:nth-child(6n+1) {
      margin-left: 0;
    }

    .set-captured {
      border-width: 2px;
    }

    &:hover {
      z-index: 1;
    }
  }
}

@media (max-width: 1100px) {
  .info {
    .info-collapse {
      position: relative;
      right: 350px;
    }

    &.collapsed .info-collapse {
      right: 0;
    }

    .info-main {
      position: absolute;
      right: 0;
      height: 100%;
    }
  }
}

@media (max-width: 750px) {
  .dex {
    padding: 15px;

    .percentage {
      margin-top: 15px;
    }
  }

  header,
  .box {
    width: 100%;
  }

  header {
    h1 {
      font-size: 30px;
    }

    .share-container {
      display: none
    }
  }

  .box {
    margin-top: 50px;

    .box-container {
      @include flex-direction(column);
    }
  }

  .pokemon {
    width: 100%;
    height: 80px;

    &.captured .set-info {
      border-color: darken($brand-primary-light, 5%);
    }

    .set-captured {
      display: none;
    }

    .set-captured-mobile {
      @include flexbox();
    }

    .set-info {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);

      opacity: 1;
      border: 1px solid $gray-light;
      position: relative;
      width: 50px;

      &:hover {
        right: 0 !important;
        bottom: 0 !important;
      }
    }

    &.empty {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .dex {
    padding: 15px 35px 15px 15px;
  }

  .info {
    position: absolute;
    left: auto;
    right: 0;
    height: 100%;
    width: 100%;

    .info-collapse {
      right: 0;

      &:hover {
        margin-left: 0;
        padding-right: 8px;
      }
    }

    .info-main {
      position: relative;
      width: 100%;
    }

    &.collapsed {
      width: inherit;
    }
  }
}
