tracker {
  @include flexbox();
  @include flex-direction(column);
}

.tracker {
  @include flexbox();
  @include flex-grow(1);
}

info {
  @include flexbox();
  @include flex-direction(column);

  background-color: $brand-secondary;
  width: 350px;

  .info-header {
    @include flexbox();
    @include align-items(center);

    min-height: 76px;
    padding: 17px 17px 17px 8px;
    border-bottom: 2px solid $brand-secondary-dark;
    color: #fff;

    img {
      margin-right: 3px;
    }

    h1 {
      @include flex-grow(1);

      margin: 0;
      font-size: 32px;
      font-weight: 500;
    }

    h2 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 17px;
      font-weight: 400;
    }
  }

  .info-main {
    @include flexbox();
    @include flex-direction(column);
    @include flex-grow(1);
  }

  .info-body {
    @include flex-grow(1);
    @include overflow-y-scroll;

    padding: 30px;
    color: #fff;

    h3 {
      margin: 0;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    ul {
      margin: 10px 0 20px;
      padding-left: 33px;
      font-size: 16px;
      line-height: 1.4;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .info-footer {
    @include transition(all .1s ease-out);

    display: block;
    min-height: 54px;
    padding: 20px;
    background-color: $brand-secondary-dark;
    color: #fff;
    text-align: center;
    font-family: $font-secondary;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    .fa {
      @include transition(all .1s ease-out);

      font-size: 10px;
      margin-left: 3px;
    }

    .fa-external-link {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: darken($brand-secondary-dark, 3%);

      .fa-long-arrow-right {
        margin-left: 7px;
      }
    }
  }
}

dex {
  @include flex-grow(1);
  @include overflow-y-scroll;

  padding: 100px 0;
}

header {
  margin: 0 auto;
  width: 6 * $pokemon-box-size + 2;

  h1 {
    margin: 0;
    color: $brand-secondary;
    font-size: 40px;
  }

  h2 {
    margin: 0;
    font-size: 17px;
    font-family: $font-secondary;
    font-weight: 400;

    span.fc-missing {
      color: $gray-light;
    }
  }

  .region-filter {
    @include flexbox();

    margin: 30px 0 20px;

    div {
      @include transition(all .1s ease-out);
      @include flex-grow(1);

      padding: 10px;
      text-align: center;
      background-color: $gray-light;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;

      &.active {
        background-color: $brand-secondary-light;
        color: #fff;
      }

      &:hover {
        cursor: pointer;

        &:not(.active) {
          background-color: darken($gray-light, 5%);
        }
      }
    }
  }

  .region-filter-mobile {
    display: none;
    position: relative;
    min-width: 100px;
    margin-left: 10px;

    .dropdown > div,
    .active {
      padding: 7px;
      text-align: left;
      font-family: $font-secondary;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .active {
      @include flexbox();
      @include justify-content(space-between);

      background-color: $brand-secondary-light;
      color: #fff;
    }

    .dropdown {
      position: absolute;
      width: 100px;
      z-index: 1;

      div {
        border-bottom: 1px solid darken($gray-light, 5%);
        background-color: $gray-light;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  .percentage {
    @include flexbox();
    @include justify-content(space-between);
  }

  .progress-container {
    width: 100%;
    height: 28px;

    h3 {
      margin: 10px 0;
      font-family: $font-secondary;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .progress-outer {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid $brand-primary;

    .progress-inner {
      height: 100%;
      background-color: $brand-primary;
    }
  }
}

box {
  display: block;
  margin: 60px auto 0;
  width: 6 * $pokemon-box-size + 2;

  h1 {
    margin: 0 0 10px;
    font-family: $font-secondary;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .box-container {
    @include flexbox();
    @include flex-wrap(wrap);

    border: 1px solid $gray-light;
  }

  pokemon {
    @include flexbox();

    position: relative;
    width: $pokemon-box-size;
    height: $pokemon-box-size;

    &.captured {
      background-color: $brand-primary-light;

      .set-captured,
      .set-captured-mobile {
        border-color: darken($brand-primary-light, 5%);
      }
    }

    &.disabled {
      opacity: .1;

      &:hover {
        cursor: default;
      }
    }

    &:not(.empty):not(.disabled):hover {
      cursor: pointer;

      .set-captured {
        border-color: darken($brand-primary-light, 5%);
      }

      .set-info {
        opacity: 1;
      }
    }
  }

  .set-captured {
    @include flex-grow(1);
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);

    border: 1px solid $gray-light;

    h4 {
      margin: 0;
      font-size: 17px;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-family: $font-secondary;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .set-captured-mobile {
    @include flex-grow(1);
    @include align-items(center);

    display: none;
    border: 1px solid $gray-light;

    img {
      padding: 0 10px;
    }

    h4 {
      @include flex-grow(1);

      margin: 0;
      font-size: 21px;
      font-weight: 400;
    }

    p {
      margin: 0;
      padding-right: 10px;
      font-family: $font-secondary;
      font-size: 12px;
    }

    &:hover {
      border-color: darken($brand-primary-light, 5%);
    }
  }

  .set-info {
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;

    .fa-info {
      padding: 4px 7px;
      border-radius: 50%;
      border: 2px solid $brand-secondary-light;
      color: $brand-secondary-light;
      font-size: 10px;
    }

    &:hover {
      right: -1px;
      bottom: -1px;

      .fa-info {
        padding: 5px 8px;
        border-color: darken($brand-secondary-dark, 5%);
        color: darken($brand-secondary-dark, 5%);
      }
    }
  }
}

@media (max-width: 1020px) {
  .tracker {
    @include flex-direction(column);
  }

  info {
    width: 100%;
    min-height: 235px;

    .info-header {
      max-height: 50px;
      min-height: 50px;
      padding: 10px 10px 10px 3px;

      h1 {
        font-size: 21px;
        font-weight: 400;
      }
    }

    .info-main {
      @include flex-direction(row);
    }

    .info-body {
      padding: 20px;

      h3 {
        font-size: 9px;
      }

      ul {
        font-size: 14px;
        margin: 8px 0 16px;
      }
    }

    .info-footer {
      padding: 88px 10px;

      .fa-external-link {
        display: block;
      }

      div {
        display: none;
      }
    }
  }
}

@media (max-width: 700px) {
  dex {
    padding: 20px;
  }

  header,
  box {
    width: 100%;
  }

  header {
    h1 {
      font-size: 30px;
    }

    .region-filter {
      display: none;
    }

    .region-filter-mobile {
      display: block;
    }

    .percentage  {
      margin-top: 15px;
    }

    .progress-container h3 {
      font-size: 11px;
    }
  }

  box {
    margin-top: 50px;

    .box-container {
      @include flex-direction(column);
    }

    pokemon {
      width: 100%;
      height: 80px;

      &.captured .set-info {
        border-color: darken($brand-primary-light, 5%);
      }

      .set-captured {
        display: none;
      }

      .set-captured-mobile {
        @include flexbox();
      }

      .set-info {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        opacity: 1;
        border: 1px solid $gray-light;
        position: relative;
        width: 60px;

        &:hover {
          right: 0;
          bottom: 0;
        }
      }

      &.empty {
        display: none;
      }
    }
  }
}
