$font-primary: 'Alegreya Sans', 'Helvetica', sans-serif;
$font-secondary: 'Montserrat', 'Helvetica', sans-serif;

$brand-primary: #ffcb05;
$brand-secondary: #18447d;
$brand-secondary-dark: darken($brand-secondary, 7%);
