$font-primary: 'Alegreya Sans', 'Helvetica', sans-serif;
$font-secondary: 'Montserrat', 'Helvetica', sans-serif;

$brand-primary: #ffd924;
$brand-primary-light: lighten($brand-primary, 20%);
$brand-primary-dark: darken($brand-primary, 7%);
$brand-secondary: #18447d;
$brand-secondary-light: lighten($brand-secondary, 7%);
$brand-secondary-dark: darken($brand-secondary, 7%);
$error: #ff0000;
$success: #00cc66;
$gray-light: #f1f1f1;
$gray-medium: #d2d2d2;
$gray-dark: #ababab;

$night-mode: #121212;
$night-mode-01dp: lighten($night-mode, 5%);
$night-mode-02dp: lighten($night-mode, 7%);
$night-mode-03dp: lighten($night-mode, 8%);
$night-mode-04dp: lighten($night-mode, 9%);
$night-mode-06dp: lighten($night-mode, 11%);
$night-mode-08dp: lighten($night-mode, 12%);
$night-mode-12dp: lighten($night-mode, 14%);
$night-mode-16dp: lighten($night-mode, 15%);
$night-mode-24dp: lighten($night-mode, 16%);
$night-mode-dark: darken($night-mode, 7%);
$night-mode-primary: #c7bd7d;
$night-mode-primary-light: lighten($night-mode-primary, 15%);
$night-mode-primary-dark: darken($night-mode-primary, 15%);
$night-mode-secondary: #102d52;
$night-mode-secondary-light: lighten($night-mode-secondary, 7%);
$night-mode-secondary-dark: darken($night-mode-secondary, 7%);
$night-mode-link: #3777ca;
$night-mode-link-dark: darken($night-mode-link, 7%);
$night-mode-link-gray: #5f5f5f;
$night-mode-link-gray-dark: darken($night-mode-link-gray, 7%);
$night-mode-error: #bb2323;
$night-mode-error-dark: darken(#bb2323, 7%);

$pokemon-box-size: 110px;
$tooltip-width: 120px;
