$font-primary: 'Alegreya Sans', 'Helvetica', sans-serif;
$font-secondary: 'Montserrat', 'Helvetica', sans-serif;

$brand-primary: #ffd924;
$brand-primary-light: lighten($brand-primary, 20%);
$brand-primary-dark: darken($brand-primary, 7%);
$brand-secondary: #18447d;
$brand-secondary-light: lighten($brand-secondary, 7%);
$brand-secondary-dark: darken($brand-secondary, 7%);
$error: #ff0000;
$success: #00cc66;
$gray-light: #f1f1f1;
$gray-medium: #d2d2d2;
$gray-dark: #ababab;

$pokemon-box-size: 110px;
$tooltip-width: 120px;
