language: node_js
sudo: false
env: 'CXX=g++-4.8'
node_js:
  - '5.12.0'
cache: yarn
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
script:
  - yarn lint
