<div class="box-header">
  <h1>{{captures[0].pokemon.national_id | number : '3.0'}} - {{captures[captures.length - 1].pokemon.national_id | number : '3.0'}}</h1>
  <button *ngIf="_session.user?.id === user.id" (click)="toggle()" [disabled]="loading"><span *ngIf="!loading">{{uncaught === 0 ? 'Unmark' : 'Mark'}} All</span><i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
</div>
<div class="box-container">
  <pokemon *ngFor="#capture of captures" (activeChange)="capture.pokemon.is(region) && activeChange.emit($event)" (collapsedChange)="capture.pokemon.is(region) && collapsedChange.emit($event)" [class.captured]="capture.captured" [class.disabled]="!capture.pokemon.is(region)" [class.viewing]="_session.user?.id !== user.id" [capture]="capture" [region]="region"></pokemon>
  <pokemon *ngFor="#capture of empties" [capture]="capture" class="empty"></pokemon>
</div>
