<div class="evolution-pokemon-column">
  <a (click)="activeChange.emit(family.pokemon[0][0])">
    <img class="pixel" [src]="family.pokemon[0][0].icon_url">
  </a>
  <div *ngIf="family.evolutions.length === 0">Does not evolve</div>
</div>
<evolutions *ngIf="family.evolutions.length > 0" class="evolution-trigger-column" [evolutions]="family.evolutions[0]"></evolutions>
<div *ngIf="family.pokemon.length > 1" class="evolution-pokemon-column">
  <a *ngFor="let pokemon of family.pokemon[1]" (click)="activeChange.emit(pokemon)">
    <img class="pixel" [src]="pokemon.icon_url">
  </a>
</div>
<evolutions *ngIf="family.evolutions.length > 1" class="evolution-trigger-column" [evolutions]="family.evolutions[1]"></evolutions>
<div *ngIf="family.pokemon.length > 2" class="evolution-pokemon-column">
  <a *ngFor="let pokemon of family.pokemon[2]" (click)="activeChange.emit(pokemon)">
    <img class="pixel" [src]="pokemon.icon_url">
  </a>
</div>
