<h1>{{user.username}}'s Living Dex</h1>
<h2>FC: <span [class.fc-missing]="!user.friend_code">{{user.friend_code || 'XXXX-XXXX-XXXX'}}</span></h2>

<div class="region-filter">
  <div class="active">National</div>
  <div>Kanto</div>
  <div>Johto</div>
  <div>Hoenn</div>
  <div>Sinnoh</div>
  <div>Unova</div>
  <div>Kalos</div>
</div>

<div class="percentage">
  <div class="progress-container">
    <div class="progress-outer">
      <div class="progress-inner" [style.width.%]="caught * 100 / captures.length"></div>
    </div>
    <h3>{{caught}} caught, {{captures.length - caught}} to go!</h3>
  </div>

  <div class="region-filter-mobile">
    <div class="active" (click)="dropdown = !dropdown">
      <span>National</span>
      <i class="fa fa-sort-desc"></i>
    </div>
    <div class="dropdown" *ngIf="dropdown">
      <div>Kanto</div>
      <div>Johto</div>
      <div>Hoenn</div>
      <div>Sinnoh</div>
      <div>Unova</div>
      <div>Kalos</div>
    </div>
  </div>
</div>
