<div class="alert">
  This app is still in alpha, and we're still releasing changes consistently. Let us know<br>about any issues on our <a class="link" href="https://github.com/robinjoseph08/pokedextracker.com/issues/new" target="_blank">GitHub</a>. Happy tracking!
</div>

<h1><span *ngIf="!_session.user || _session.user.id != user.id">Viewing </span>{{user.username}}'s Living Dex</h1>
<h2>FC: <span [class.fc-missing]="!user.friend_code">{{user.friend_code || 'XXXX-XXXX-XXXX'}}</span></h2>

<div class="region-filter">
  <div *ngFor="#r of regions" [class.active]="region === r" (click)="regionChange.emit(r)">{{r}}</div>
</div>

<div class="percentage">
  <div class="progress-container">
    <div class="progress-outer">
      <div class="progress-inner" [style.width.%]="caught * 100 / total"></div>
    </div>
    <h3>{{caught}} caught, {{total - caught}} to go!</h3>
  </div>

  <div class="region-filter-mobile">
    <div class="active" (click)="dropdown = !dropdown">
      <span>{{region}}</span>
      <i class="fa fa-sort-desc"></i>
    </div>
    <div class="dropdown" *ngIf="dropdown">
      <div *ngFor="#r of regions" [style.display]="region === r ? 'none' : 'block'" (click)="regionChange.emit(r); dropdown = false">{{r}}</div>
    </div>
  </div>
</div>
