<div class="home">
  <div class="hero">
    <img src="/pokeball.svg" alt="Gotta catch 'em all!">
    <h1>Pokédex Tracker</h1>
  </div>

  <div class="sub">
    <h2>A tool for tracking your <a href="http://bulbapedia.bulbagarden.net/wiki/Living_Pok%C3%A9dex" target="_blank" class="link">Living Dex</a> progress. Easily toggle between and track your captured Pokémon, find the locations of those left to be captured, and share a public link with others to see how you can help each other out. Check out an example living dex <a class="link" [routerLink]="['Tracker', { username: 'ashketchum10' }]">here</a>!</h2>

    <p>This project is open source, and you can find the code on Github (<a href="https://github.com/robinjoseph08/pokedextracker.com" target="_blank" class="link">website</a> &amp; <a href="https://github.com/robinjoseph08/api.pokedextracker.com" target="_blank" class="link">API</a>). Feel free to report issues, suggest features, or even submit a pull request!</p>

    <div>
      <button [routerLink]="['Register']">Register <i class="fa fa-long-arrow-right"></i></button>
      <button [routerLink]="['Login']">Login <i class="fa fa-long-arrow-right"></i></button>
    </div>
    <div class="social">
      <a href="https://twitter.com/PokedexTracker" target="_blank" class="link"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</div>

<div class="footer">Made with <i class="pkicon pkicon-ball-love"></i> in San Francisco</div>
