<div *ngIf="active && !loading" class="info-collapse" (click)="collapsedChange.emit(!collapsed)">
  <i class="fa" [class.fa-caret-right]="!collapsed" [class.fa-caret-left]="collapsed"></i>
</div>

<div *ngIf="active && !loading" class="info-main">
  <div class="info-header">
    <img [src]="active.pokemon.icon_url">
    <h1 [innerHTML]="active.pokemon.name"></h1>
    <h2>#{{active.pokemon.national_id | number : '3.0'}}</h2>
  </div>

  <div class="info-locations">
    <h3>Pokémon Omega Ruby</h3>
    <ul>
      <li *ngFor="#loc of active.pokemon.or_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon Alpha Sapphire</h3>
    <ul>
      <li *ngFor="#loc of active.pokemon.as_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon X</h3>
    <ul>
      <li *ngFor="#loc of active.pokemon.x_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon Y</h3>
    <ul>
      <li *ngFor="#loc of active.pokemon.y_locations">{{loc}}</li>
    </ul>
  </div>

  <evolution-family *ngIf="active.pokemon.evolution_family && !loading" class="info-evolutions" [family]="active.pokemon.evolution_family"></evolution-family>

  <a class="info-footer" [href]="active.pokemon.bulbapedia_url" target="_blank">
    <div>View on Bulbapedia <i class="fa fa-long-arrow-right"></i></div>
    <i class="fa fa-external-link"></i>
  </a>
</div>
