<div class="info-header">
  <img src="http://cdn.bulbagarden.net/upload/e/ec/001MS.png">
  <h1>Bulbasaur</h1>
  <h2>#001</h2>
</div>

<div class="info-body">
  <h3>Pokémon Omega Ruby</h3>
  <ul>
    <li>Lumiose City - Professor Sycamore</li>
    <li>Route 3</li>
    <li>Route 15</li>
  </ul>
  <h3>Pokémon Alpha Sapphire</h3>
  <ul>
    <li>Lumiose City - Professor Sycamore</li>
  </ul>
  <h3>Pokémon X</h3>
  <ul>
    <li>Trade from X &amp; Y</li>
  </ul>
  <h3>Pokémon Y</h3>
  <ul>
    <li>Trade from X &amp; Y</li>
  </ul>
</div>

<a class="info-footer" href="http://bulbapedia.bulbagarden.net/wiki/Bulbasaur_(Pok%C3%A9mon)" target="_blank">
  View on Bulbapedia <i class="fa fa-long-arrow-right"></i>
</a>
