<div *ngIf="active" class="info-collapse" angulartics2On="click" angularticsEvent="{{collapsed ? 'uncollapse' : 'collapse'}}" angularticsCategory="Info" (click)="collapsedChange.emit(!collapsed)">
  <i class="fa" [class.fa-caret-right]="!collapsed" [class.fa-caret-left]="collapsed"></i>
</div>

<div *ngIf="active" class="info-main">
  <div class="info-header">
    <img class="pixel" [src]="active.icon_url">
    <h1 [innerHTML]="active.html_name"></h1>
    <h2>#{{active.national_id | number : '3.0'}}</h2>
  </div>

  <div *ngIf="!loading" class="info-locations">
    <h3>Pokémon Omega Ruby</h3>
    <ul>
      <li *ngFor="let loc of active.or_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon Alpha Sapphire</h3>
    <ul>
      <li *ngFor="let loc of active.as_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon X</h3>
    <ul>
      <li *ngFor="let loc of active.x_locations">{{loc}}</li>
    </ul>
    <h3>Pokémon Y</h3>
    <ul>
      <li *ngFor="let loc of active.y_locations">{{loc}}</li>
    </ul>
  </div>

  <evolution-family *ngIf="active.evolution_family && !loading" class="info-evolutions" [family]="active.evolution_family" (activeChange)="active = $event"></evolution-family>

  <div class="info-footer">
    <a angulartics2On="click" angularticsEvent="open Bulbapedia link" angularticsCategory="Info" angularticsProperties="new Object({ label: '{{active.name}}' })" [href]="active.bulbapedia_url" target="_blank">Bulbapedia <i class="fa fa-long-arrow-right"></i></a>
    <a angulartics2On="click" angularticsEvent="open Serebii link" angularticsCategory="Info" angularticsProperties="new Object({ label: '{{active.name}}' })" [href]="active.serebii_url" target="_blank">Serebii <i class="fa fa-long-arrow-right"></i></a>
  </div>
</div>
