<nav [user]="_session.user"></nav>
<reload></reload>
<div class="form">
  <h1>Login</h1>
  <form (ngSubmit)="createSession(user)">
    <div *ngIf="error" class="alert alert-error">
      {{error}}
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="user.username" name="username" id="username" type="text" required placeholder="ashketchum10" maxlength="20" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <i class="fa fa-asterisk"></i>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="user.password" name="password" id="password" type="password" required placeholder="••••••••••••" maxlength="72">
      <i class="fa fa-asterisk"></i>
    </div>
    <button class="btn btn-blue" type="submit">Let's go! <i class="fa fa-long-arrow-right"></i></button>
    <p>Don't have an account yet? <a class="link" [routerLink]="['Register']">Register here</a>!</p>
  </form>
</div>
