<form>
  <div class="form-alert">
    username not found
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" required placeholder="ashketchum10" maxlength="20">
    <i class="fa fa-asterisk"></i>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" required placeholder="••••••••••••" maxlength="72">
    <i class="fa fa-asterisk"></i>
  </div>
  <button type="submit" class="btn">Let's go! <i class="fa fa-long-arrow-right"></i></button>
  <p>Don't have an account yet? <a class="link" [routerLink]="['Register']">Register here</a>!</p>
</form>
