<div class="set-captured" (click)="toggle()">
  <h4 *ngIf="capture">{{capture.pokemon.name}}</h4>
  <img *ngIf="capture" [src]="capture.pokemon.icon_url">
  <p *ngIf="capture">#{{capture.pokemon.national_id | NumberPipe : 3}}</p>
</div>
<div class="set-captured-mobile" (click)="toggle()">
  <img *ngIf="capture" [src]="capture.pokemon.icon_url">
  <h4 *ngIf="capture">{{capture.pokemon.name}}</h4>
  <p *ngIf="capture">#{{capture.pokemon.national_id | NumberPipe : 3}}</p>
</div>
<div *ngIf="capture" class="set-info" (click)="pokemonHover.emit(capture)">
  <i class="fa fa-info"></i>
</div>
